.scheme__title {
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin: 0;
    padding-bottom: 48px;
}   

@media screen and (max-width: 576px) {
    .scheme__title {
        font-size: 22px;
        padding-bottom: 30px;
    }
}