.result__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 64px;
}

@media screen and (max-width: 768px) {
    .result__header {
        padding-bottom: 32px;
    }
}