@import url(__content/about__content.css);
@import url(__text/about__text.css);
@import url(__title/about__title.css);
@import url(__avatar/about__avatar.css);
@import url(__container/about__container.css);

.about {
    max-width: 1232px;
    padding: 80px 0;
    background-color: #fff;
    display: flex;
    margin: auto;

}