.search__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 80px;
}

@media screen and (max-width: 768px) {
    .search__container  {
        padding-top: 32px;
    }
}

@media screen and (max-width: 768px) {
    .search__container  {
        padding-top: 30px;
    }
}
