.nav__link_type_active-index {
    font-weight: 500;
    color: #fff;
    border-bottom: 4px solid rgba(255, 255, 255, 1);;
    padding-bottom: 25px;
}

.nav__link_type_active-index:hover {
    color: rgba(255, 255, 255, .6);
}

@media screen and (max-width: 768px) {
    .nav__link_type_active-index {
        padding-bottom: 17px;
    }
}

@media screen and (max-width: 576px) {
    .nav__link_type_active-index {
        padding-bottom: 14px;
    }
}