.gitlog__header {
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .gitlog__header {
        padding-bottom: 32px;
    }
}