@import url(__item/breadcrumbs__item.css);
@import url(__items/breadcrumbs__items.css);
@import url(__link/breadcrumbs__link.css);
@import url(__link/_type/breadcrumbs__link_type_disabled.css);

.breadcrumbs {
    padding-top: 40px;
    max-width: 1232px;
    margin: auto;
}