.footer__container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .footer__container {
        
    }
}