.search__form {
    display: block;
    position: relative;
    height: 64px;  
    background: #FFFFFF;
    border-radius: 50px; 
}

.search__form:focus-within {
    border: 2px solid rgba(57, 83, 128, 0.8);
}

@media screen and (max-width: 768px) {
    .search__form {
        max-width: 452px;
        height: 56px;  
    }
}

@media screen and (max-width: 576px) {
    .search__form {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
    }
}
