.tech__items {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .tech__items {
    }
}

@media screen and (max-width: 576px) {
    .tech__items {
        flex-wrap: wrap;
    }
}