.search__button {
    background: #2F71E5;
    border: 0;
    border-radius: 50px;
    color: #fff;
    padding: 20px 53px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    align-items: center;
}

.search__button:hover {
    background: #347eff;
}

@media screen and (max-width: 768px) {
    .search__button {
        padding: 16px 50px;        
    }
}

@media screen and (max-width: 768px) {
    .search__button {
        margin-top: 38px;     
    }
}