.result__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 24px 0;
}

@media screen and (max-width: 768px) {
    .result__info {
        padding: 16px;
    }
}