.nav__link_type_active-inner {
    font-weight: 500;
    color: #1A1B22;
    border-bottom: 4px solid  rgba(25, 27, 34, 1);;
    padding-bottom: 25px;
}

.nav__link_type_active-inner:hover {
    color: rgba(25, 27, 34, .6);
}