.result__card-title {
    display: flex;
    align-self: flex-start;
    font-size: 26px;
    line-height: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    margin: 12px 0;
}

@media screen and (max-width: 1024px) {
    .result__card-title {
        font-size: 24px;
        line-height: 28px;
    }
}

@media screen and (max-width: 768px) {
    .result__card-title {
        font-size: 20px;
        line-height: 24px;
    }
}

@media screen and (max-width: 576px) {
    .result__card-title {
        margin: 16px 0 10px;
        font-size: 22px;
        line-height: 26px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow-y: hidden;
    }
}