@import url(_type/logo_type_index.css);
@import url(_type/logo_type_inner.css);

.logo {
    font-family: Roboto Slab, Times New Roman, Times, serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    transition: color .5s ease;
}