.result__item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background: #FFFFFF;
    color: #1A1B22;
    width: 31%;
    border-radius: 16px;
    margin: 0 16px 16px 0;
    padding-bottom: 24px;
}

.result__item:hover {
    cursor: pointer;
    box-shadow: 2px 7px 28px rgba(8,29,45,.1);
}

@media screen and (max-width: 1280px) {
    .result__item {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .result__item {
        width: 31%;
        margin: 0 8px 16px 0;
    }
}

@media screen and (max-width: 576px) {
    .result__item:last-of-type {
        margin-bottom: 20px;
    }
}