@import url(__button/result__button.css);
@import url(__card-title/result__card-title.css);
@import url(__date/result__date.css);
@import url(__image/result__image.css);
@import url(__info/result__info.css);
@import url(__item/result__item.css);
@import url(__items/result__items.css);
@import url(__source/result__source.css);
@import url(__text/result__text.css);
@import url(__header/result__header.css);
@import url(__icon/result__icon.css);
@import url(__link/result__link.css);
@import url(__link-container/result__link-container.css);
@import url(__header-title/result__header-title.css);
@import url(__container/result__container.css);

.result {
    background: #F5F6F7;
    padding: 80px 0;
}

@media screen and (max-width: 768px) {
    .result {
        padding: 40px 0;
    }
}