.slider__side-gradient {
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    background: linear-gradient(270deg,rgba(245,246,247,0) 0,#f5f6f7);
    z-index: 2;
}

.slider__side-gradien_right {
    right: 0;
    transform: rotate(180deg);
}

.slider__button {
    background-image: url(../images/arrow_white.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 8px 13px;
    background-color: #1a1b22;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 3px 10px rgba(14,26,57,.2);
    position: absolute;
    top: 50%;
    z-index: 10;
}

.slider__pagination {
    opacity: 1;
    background-color: #d1d2d6;
    margin-left: 8px;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    /* opacity: .2; */
}