@import url(__img/no-results__img.css);
@import url(__subtitle/no-results__subtitle.css);
@import url(__title/no-results__title.css);

.no-results {
     height: 374px;
    background: #F5F6F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}