<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NewsAnalyzer / About</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.about.css %>">
</head>

<body class="page">
    <header class="header header_type_inner">
        <div class="header__container">
            <a href="index.html" class="logo logo_type_inner link">NewsAnalyzer</a>
            <nav class="nav nav_type_index">
                <ul class="nav__items">
                    <li class="nav__item">
                        <a href="index.html" class="nav__link nav__link_type_active link">Главная</a>
                    </li>
                    <li class="nav__item">
                        <a href="about.html" class="nav__link link">О проекте</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="intro">
            <h2 class="title intro__title">Клиентам</h2>
            <p class="text intro__text">Этот сайт — дипломный проект студента Яндекс.Практикума. Его цель — показать,
                чему
                научился студент, какими технологиями владеет.</p>
            <p class="text intro__text">Вёрстка сайта выполнена по методологии БЭМ. Это делает сайт гибким и
                масштабируемым. Кроме того, добавлять новые страницы и функциональность проще и быстрее, чем в проектах,
                выполненных по другим методологиям. Также сайт проще и дешевле поддерживать.</p>
            <p class="text intro__text">Карточки с новостями приходят с сервера и обрабатываются асинхронно. То есть
                сайт
                продолжает работать, пока от сервера приходит ответ. Это повышает удобство использования сервиса.</p>
            <p class="text intro__text">При создании проекта была использована сборка технологией Webpack. Это
                современный
                подход к разработке сайтов. Код оптимизируется, а значит, сайт работает быстрее. Также сайт работает в
                старых браузерах. Даже если посетители — пользователи старых операционных систем, у них не будет проблем
                с
                отображением. А значит, потенциальная аудитория возрастает.</p>
            <p class="text intro__text">Проект был проверен экспертами Яндекс.Практикума. Если вашему бизнесу нужен
                сайт,
                мы рекомендуем обратиться к этому студенту.</p>
        </section>

        <section class="tech">
            <div class="tech__content">
                <h2 class="tech__title title">Используемые технологии</h2>
                <div class="tech__items text">
                    <div class="tech__item">
                        <p class="tech__name">HTML</p>
                        <img src="<%= require('./images/tech/html.svg').default %>" alt="HTML5 logo"
                            class="tech__image">
                    </div>
                    <div class="tech__item">
                        <p class="tech__name">CSS</p>
                        <img src="<%= require('./images/tech/css.svg').default %>" alt="CSS3 logo" class="tech__image">
                    </div>
                    <div class="tech__item">
                        <p class="tech__name">Java Script</p>
                        <img src="<%= require('./images/tech/js.svg').default %>" alt="Java Script logo"
                            class="tech__image">
                    </div>
                    <div class="tech__item">
                        <p class="tech__name">Webpack</p>
                        <img src="<%= require('./images/tech/webpack.svg').default %>" alt="Webpack logo"
                            class="tech__image">
                    </div>
                </div>
            </div>
        </section>

        <section class="about">
            <img src="<%=require('./images/avatar-big.png').default%>" alt="Аватар автора" class="about__avatar">
            <div class="about__content">
                <h2 class="about__title title">Об авторе</h2>
                <p class="about__text text">Это блок с описанием автора проекта. Здесь следует указать, как вас
                    зовут, чем вы занимаетесь, какими технологиями разработки владете.</p>
                <p class="about__text text">Также можно рассказать о процессе обучения в Практикуме, чему вы научились,
                    и чем
                    можете помочь потенциальным заказчикам.</p>
            </div>
        </section>

        <section class="glide gitlog" id="intro">
            <div class="gitlog__header">
                <h2 class="title gitlog__title">История коммитов из GitHub</h2>
                <a class="link gitlog__link" href="https://github.com/LanaLong" target="_blank">
                    <p class="text gitlog__link-text">Открыть в Github</p>
                    <img src="<%=require('./images/icon/back.svg').default%>" alt="Back arrow" class="gitlog__icon">
                </a>
            </div>
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides slider slider_type_gitlog">
                    <li class="slider__item">
                        <p class="slider__data"></p>
                        <img src="" alt="" class="slider__avatar">
                        <h3 class="slider__title title"></h3>
                        <p class="slider__email"></p>
                        <p class="slider__text text"></p>
                    </li>
                    <li class="slider__item">
                        <p class="slider__data"></p>
                        <img src="" alt="" class="slider__avatar">
                        <h3 class="slider__title title"></h3>
                        <p class="slider__email"></p>
                        <p class="slider__text text"></p>
                    </li>
                    <li class="slider__item">
                        <p class="slider__data"></p>
                        <img src="" alt="" class="slider__avatar">
                        <h3 class="slider__title title"></h3>
                        <p class="slider__email"></p>
                        <p class="slider__text text"></p>
                    </li>
                    <li class="slider__item">
                        <p class="slider__data"></p>
                        <img src="" alt="" class="slider__avatar">
                        <h3 class="slider__title title"></h3>
                        <p class="slider__email"></p>
                        <p class="slider__text text"></p>
                    </li>
                    <li class="slider__item">
                        <p class="slider__data"></p>
                        <img src="" alt="" class="slider__avatar">
                        <h3 class="slider__title title"></h3>
                        <p class="slider__email"></p>
                        <p class="slider__text text"></p>
                    </li>
                </ul>
                <div data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"></button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"></button>
                </div>
            </div>
            <div class="glide__bullets" data-glide-el="controls[nav]"></div>
            <a class="glide__button-link" href="https://github.com/LanaLong" target="_blank">
                <button class="glide__button">Открыть в GitHub</button>
            </a>
        </section>


    </main>
    <footer class="footer">
        <div class="footer__content text">
            <p class="footer__copy">&copy; 2020 Supersite</p>
            <nav class="footer__nav">
                <ul class="footer__items">
                    <li class="footer__item">
                        <a class="link footer__link" href="index.html">Главная</a>
                    </li>
                    <li class="footer__item">
                        <a class="link footer__link" href="about.html">О проекте</a>
                    </li>
                    <li class="footer__item">
                        <a class="link footer__link" href="https://praktikum.yandex.ru"
                            target="_blank">Яндекс.Практикум</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__icons">
                <a class="footer__icon-link" href="https://github.com/LanaLong" target="_blank">
                    <img src="<%=require('./images/icon/gh.svg').default%>" class="footer__icon" alt="github">
                </a>
                <a class="footer__icon-link" href="https://www.facebook.com/" target="_blank">
                    <img src="<%=require('./images/icon/fb.svg').default%>" class="footer__icon" alt="facebook">
                </a>
            </div>
        </div>
    </footer>
    <script src="<%= htmlWebpackPlugin.files.chunks.about.entry %>"></script>
</body>

</html>