<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NewsAnalyzer / About</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.[name].css %>">
</head>

<body>
    <div class="root">
        <header class="header root__section">
            About
            <!-- <img src="<%= require('./img/searchBack.jpg').default %>" alt="logo" class="logo"> -->
        </header>
        <a class="mc" href="./index.html" target="_self">Main</a>
        <a class="mc" href="./analitics.html" target="_self">Аналитика</a>
    </div>
    <script src="<%= htmlWebpackPlugin.files.chunks.[name].entry %>"></script>

</body>

</html>