<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Сервис для анализа происходящих в мире событий">
    <meta name="author" lang="ru" content="LanaLong">
    <title>NewsAnalyzer</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
    <link rel="shortcut icon" href="<%=require('./images/favicon_io/favicon.ico').default%>" type="image/ico">
    <!-- <link rel="import" href="./about/index.html">
    <link rel="import" href="./analytics/index.html"> -->
</head>

<body>
    <!-- <div class="root">
        <header class="header root__section">
            <img src="<%= require('./images/searchBack.jpg').default %>" alt="logo" class="logo">
        </header>
        <a class="mc" href="./about.html" target="_self">Обо мне</a>
        <a class="mc" href="./analitics.html" target="_self">Аналитика</a>
    </div> -->
    <div class="page">

        <header class="header header_type_index">

            <a href="analitics.html" class="logo logo_type_white">NewsAnalyzer</a>
            <nav class="nav">
                <ul class="nav__items">
                    <li class="nav__item">Главная</li>
                    <li class="nav__item">О проекте</li>
                </ul>
            </nav>

            <section class="search">
                <h1 class="search__title">Что в мире творится?</h1>
                <p class="search__subtitle">Введите в поиске любую тему и узнайте, насколько популярной она была в
                    новостях за прошедшую неделю.</p>
                <form action="" name="search" class="search__form">
                    <input type="text" class="search__input" placeholder="Введите тему новости" minlength="3"
                        maxlength="20" required>
                    <button class="search__button">Искать</button>
                </form>
            </section>

        </header>

        <section class="loader">
            <i class="loader__icon"></i>
            <p class="loader__text">Идет поиск новостей...</p>
        </section>

        <section class="no-results">
            <img src="<%=require('./images/not-found.svg').default%>" alt="Ничего не найдено" class="no-results_img">
            <h3 class="no-results__title">Ничего не найдено</h3>
            <p class="no-results__subtitle">К сожалению, по вашему запросу ничего не найдено.</p>
        </section>

        <section class="search-result">
            <div class="search-result__header">
                <h2 class="search-result__header-title">Результаты поиска</h2>
                <a href="analitics.html" class="search-result__link">Посмотреть аналитику</a>
                <img src="<%=require('./images/icon/back.svg').default%>" alt="Back arrow"
                    class="search-result__icon_type_arrow">
            </div>
            <div class="search-result__items">
                <div class="search-result__item">
                    <img src="<%= require('./images/card/image_08.jpg').default %>" alt="Card image"
                        class="search-result__image">
                    <div class="search-result__info">
                        <p class="search-result__date">2 августа, 2019</p>
                        <h2 class="search-result__card-title">Национальное достояние – парки</h2>
                        <h3 class="search-result__card-subtitle">В 2016 году Америка отмечала важный юбилей: сто лет
                            назад здесь начала складываться система национальных парков –
                            охраняемых территорий, где и сегодня каждый может приобщиться к природе.</h3>
                    </div>
                    <p class="search-result__source">Лента.ру</p>
                </div>
                <div class="search-result__item">
                    <img src="<%= require('./images/card/image_08.jpg').default %>" alt="Card image"
                        class="search-result__image">
                    <div class="search-result__info">
                        <p class="search-result__date">2 августа, 2019</p>
                        <h2 class="search-result__card-title">Лесные огоньки: история одной фотографии</h2>
                        <h3 class="search-result__card-subtitle">Фотограф отвлеклась от освещения суровой политической
                            реальности Мексики, чтобы запечатлеть ускользающую красоту одного
                            из местных чудес природы.</h3>
                    </div>
                    <p class="search-result__source">Медуза</p>
                </div>
                <div class="search-result__item">
                    <img src="<%= require('./images/card/image_08.jpg').default %>" alt="Card image"
                        class="search-result__image">
                    <div class="search-result__info">
                        <p class="search-result__date">2 августа, 2019</p>
                        <h2 class="search-result__card-title">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h2>
                        <h3 class="search-result__card-subtitle">Знаменитый фотограф снимает первозданные леса России,
                            чтобы рассказать о необходимости их сохранения. В этот раз он
                            отправился в Двинско-Пинежскую тайгу, где...</h3>
                    </div>
                    <p class="search-result__source">Риа</p>
                </div>
            </div>
            <button class="search-result__button">Показать еще</button>
        </section>

        <section class="about">
            <img src="<%=require('./images/avatar-big.png').default%>" alt="Аватар автора" class="about__avatar">
            <div class="about__content">
                <h2 class="about__title">Об авторе</h2>
                <p class="about__subtitle">Это блок с описаением автора проекта. Здесь следует указать, как вас
                    зовут,чем вы занимаетесь, какими технологиями разработки владете.</p>
                <p class="about__subtitle">Также можно рассказать о процессе обучения в Практикуме, чему вы научились, и
                    чем можете помочь потенциальным заказчикам.</p>
            </div>
        </section>


        <main>
            <article>
                <section>

                </section>
            </article>

        </main>
        <footer class="footer">
            <div class="footer__content">
                <p class="footer__copy">&copy; 2020 Supersite</p>
                <ul class="footer__nav">
                    <li class="footer__item">
                        <a class="footer__link" href="index.html">Главная</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="about.html">О проекте</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="https://praktikum.yandex.ru" target="_blank">Яндекс.Практикум</a>
                    </li>
                </ul>
                <div class="footer__icons">
                    <a class="footer__icon-link" href="https://github.com/LanaLong" target="_blank">
                        <img src="<%=require('./images/icon/gh.svg').default%>" class="footer__icon" alt="github">
                    </a>
                    <a class="footer__icon-link" href="https://www.facebook.com/" target="_blank">
                        <img src="<%=require('./images/icon/fb.svg').default%>" class="footer__icon" alt="facebook">
                    </a>
                </div>
            </div>
        </footer>

    </div>

    <script src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>
</body>

</html>