<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Сервис для анализа происходящих в мире событий">
    <meta name="author" lang="ru" content="LanaLong">
    <title>NewsAnalyzer</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
    <link rel="shortcut icon" href="<%=require('./images/favicon_io/favicon.ico').default%>" type="image/ico">
    <!-- <link rel="import" href="./about/index.html">
    <link rel="import" href="./analytics/index.html"> -->
</head>

<body class="page">
    <!-- <a class="test" href="./about.html" target="_self">Обо мне</a>
    <a class="test" href="./analitics.html" target="_self">Аналитика</a> -->
    <section class="search">
        <header class="header header_type_index">
            <div class="header__container">
                <a href="index.html" class="logo logo_type_index link">NewsAnalyzer</a>
                <nav class="nav nav_type_index">
                    <ul class="nav__items">
                        <li class="nav__item">
                            <a href="index.html" class="nav__link nav__link_type_active link">Главная</a>
                        </li>
                        <li class="nav__item">
                            <a href="about.html" class="nav__link link">О проекте</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <section class="search__container">
            <h1 class="title search__title">Что в мире творится?</h1>
            <p class="text search__subtitle">Введите в поиске любую тему и узнайте, насколько популярной она&nbsp;была в
                новостях за прошедшую неделю.</p>
            <form action="" name="search" class="search__form text">
                <input type="text" class="search__input" placeholder="Введите тему новости" minlength="3" maxlength="20"
                    required>
                <button class="search__button">Искать</button>
            </form>
        </section>



    </section>

    <section class="loader">
        <img src="<%=require('./images/load-icon.png').default%>" class="loader__icon" />
        <p class="loader__text text_type_minor">Идет поиск новостей...</p>
    </section>

    <section class="no-results">
        <img src="<%=require('./images/not-found.svg').default%>" alt="Ничего не найдено" class="no-results__img">
        <h3 class="title no-results__title">Ничего не найдено</h3>
        <p class="no-results__subtitle text_type_minor">К сожалению, по вашему запросу ничего&nbsp;не найдено.</p>
    </section>

    <section class="result">
        <div class="result__header">
            <h2 class="title result__header-title">Результаты поиска</h2>
            <div class="result__link-container">
                <a href="analitics.html" class="text link result__link">Посмотреть аналитику</a>
                <img src="<%=require('./images/icon/back.svg').default%>" alt="Back arrow" class="result__icon">
            </div>
        </div>
        <div class="result__items">
            <div class="result__item">
                <img src="<%= require('./images/card/image_08.jpg').default %>" alt="Card image" class="result__image">
                <div class="result__info">
                    <p class="text_type_date result__date">2 августа, 2019</p>
                    <h2 class="title result__card-title">Национальное достояние – парки</h2>
                    <h3 class="text result__text">В 2016 году Америка отмечала важный юбилей: сто лет
                        назад здесь начала складываться система национальных парков –
                        охраняемых территорий, где и сегодня каждый может приобщиться к природе.</h3>
                </div>
                <p class="text_type_label result__source">Лента.ру</p>
            </div>
            <div class="result__item">
                <img src="<%= require('./images/card/image_04.jpg').default %>" alt="Card image" class="result__image">
                <div class="result__info">
                    <p class="result__date text_type_date">2 августа, 2019</p>
                    <h2 class="result__card-title title">Лесные огоньки: история одной фотографии</h2>
                    <h3 class="result__text text">Фотограф отвлеклась от освещения суровой политической
                        реальности Мексики, чтобы запечатлеть ускользающую красоту одного
                        из местных чудес природы.</h3>
                </div>
                <p class="text_type_label result__source">Медуза</p>
            </div>
            <div class="result__item">
                <img src="<%= require('./images/card/image_07.jpg').default %>" alt="Card image" class="result__image">
                <div class="result__info">
                    <p class="result__date text_type_date">2 августа, 2019</p>
                    <h2 class="result__card-title title">«Первозданная тайга»: новый фотопроект Игоря
                        Шпиленка</h2>
                    <h3 class="result__text text">Знаменитый фотограф снимает первозданные леса России,
                        чтобы рассказать о необходимости их сохранения. В этот раз он
                        отправился в Двинско-Пинежскую тайгу, где...</h3>
                </div>
                <p class="result__source text_type_label">Риа</p>
            </div>
        </div>
        <button class="text result__button">Показать еще</button>
    </section>

    <section class="about">
        <picture class="about__avatar">
            <source srcset="<%=require('./images/avatar-mobile.png').default%>" media="(max-width: 475px)">
            <img src="<%=require('./images/avatar-big.png').default%>" alt="Аватар автора" class="about__avatar">
        </picture>

        <article class="about__content">
            <h2 class="title about__title">Об авторе</h2>
            <p class="text about__text">Это блок с описанием автора проекта. Здесь следует указать, как вас
                зовут, чем вы занимаетесь, какими технологиями разработки владете.</p>
            <p class="text about__text">Также можно рассказать о процессе обучения в Практикуме, чему вы научились,
                и чем
                можете помочь потенциальным заказчикам.</p>
        </article>
    </section>

    </main>
    <footer class="footer">
        <div class="footer__content">
            <p class="footer__copy">&copy; 2020 Supersite</p>
            <ul class="footer__nav">
                <li class="footer__item">
                    <a class="footer__link" href="index.html">Главная</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="about.html">О проекте</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="https://praktikum.yandex.ru" target="_blank">Яндекс.Практикум</a>
                </li>
            </ul>
            <div class="footer__icons">
                <a class="footer__icon-link" href="https://github.com/LanaLong" target="_blank">
                    <img src="<%=require('./images/icon/gh.svg').default%>" class="footer__icon" alt="github">
                </a>
                <a class="footer__icon-link" href="https://www.facebook.com/" target="_blank">
                    <img src="<%=require('./images/icon/fb.svg').default%>" class="footer__icon" alt="facebook">
                </a>
            </div>
        </div>
    </footer>
    <script src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>
</body>

</html>