.about__avatar {
    border-radius: 50%;
    max-width: 464px;
    max-height: 464px;
}

@media screen and (max-width: 1200px) {
    .about__avatar {
        max-width: 370px;
        max-height: 370px;
    }
}

@media screen and (max-width: 900px) {
    .about__avatar {
        max-width: 320px;
        max-height: 320px;
    }
}

@media screen and (max-width: 768px) {
    .about__avatar {
        max-width: 232px;
        max-height: 232px;
    }
}

@media screen and (max-width: 576px) {
    .about__avatar {
        max-width: 272px;
        max-height: 272px;
    }
}
