.slider__item {
    border-radius: 16px;
    background: #fff;
    padding: 24px;
    min-height: 288px;
    min-width: 400px;
    margin: 0 8px;
    box-sizing: border-box;
    transition: box-shadow .3s ease;
}

.slider__item:hover {
    cursor: pointer;
    box-shadow: 2px 7px 28px rgba(8,29,45,.1);
}

@media screen and (max-width:768px) {
    .slider__item {
        min-height: 242px;
        min-width: 336px;
    }
}

@media screen and (max-width:576px) {
    .slider__item {
        min-height: 264px;
        min-width: 284px;
    }
}