.about__content {
    padding-left: 56px;
    padding-top: 50px;
    max-width: 600px;
}

@media screen and (max-width: 1200px) {
    .about__content {
        padding-left: 50px;
    }
}

@media screen and (max-width: 900px) {
    .about__content {
        padding-left: 40px;
    }
}

@media screen and (max-width: 768px) {
    .about__content {
        padding-left: 32px;
        padding-top: 0;
        max-width: 424px;
    }
}

@media screen and (max-width: 576px) {
    .about__content {
        padding-left: 0;
        padding-top: 0;
    }
}