.result__items {
     display: flex;
     flex-wrap: no-wrap;
     justify-content: space-between;
     padding-bottom: 64px;
}

@media screen and (max-width: 768px) {
    .result__items {
        padding-bottom: 24px;
    }
}
